<section class="bg-light text-center py-5">
    <div class="container mb-3">
        <h1 class="display-4 font-weight-bold mb-5">{{ page.title }}</h1>
        <h2 class="font-weight-normal">{{ page.subhead }}</h2>
        <hr/>
        <h3 class="mb-3 text-danger">What Makes <i>This</i> Course Different?</h3>
        <ul class="list-unstyled text-center">
            <li class="mb-1">I make <u>A LOT</u> of mistakes, and troubleshoot them in realtime.</li>
            <li class="mb-1">I don't always know how to do something. I show you how I search documentation and APIs to find a solution.</li>
            <li class="mb-1">I build a real production application from start to finish, and leave nothing out.</li>
        </ul>
        <a href="#" class="btn btn-danger btn-lg">Start Course!</a>
    </div>
</section>