<div class="container bg-white rounded-sm shadow-sm py-3 mt-n5 text-center">
    <h3 class="mb-3 h2" id="what_makes_this_course_different">What Makes <i>This</i> Course Different?</h3>
    <ul class="list-unstyled text-center">
        <li class="mb-1">I make <u>A LOT</u> of mistakes, and troubleshoot them in real time.</li>
        <li class="mb-1">I don't always know how to do something. I show you how I search documentation and APIs to find a solution.</li>
        <li class="mb-1">I build a REAL production application from start to finish, and leave nothing out. <strong>You see the whole process, as if we are pairing.</strong></li>
    </ul>
    <h3 class="mb-3 h2" id="who_is_this_course_for">Who Is The Course For?</h3>
    <ul class="list-unstyled text-center">
        <li class="mb-1">Junior Developers who have enough experience with Rails to be dangerous, but have never built a production application.</li>
        <li class="mb-1">Anyone interested in seeing how a web application is built from start to finish.</li>
        <li class="mb-1">Anyone curious to know how fast, fun and effective Rails development is.</li>
    </ul>
    <hr/>
    <div class="row mb-5">
        <div class="col-md-6">
            <h2 class="text-center h4 mb-3" id="what_will_i_learn">What Will I Learn?</h2>
            <ul class="list-unstyled text-center">
                <li class="mb-2">
                    <a href="{% link _lessons/configure-travis-ci-with-rails-and-github.md %}" class="text-danger">How to use and configure Continuous Integration and Continuous Deployment (CI/CD)</a>
                </li>
                <li class="mb-2">
                    <a href="{% link _lessons/write-system-tests-for-crud-operations-on-activity-model.md %}" class="text-danger">How to write system tests</a>
                </li>
                <li class="mb-2">
                    <a href="{% link _lessons/create-total-model.md %}" class="text-danger">How to optimize and offload expensive queries</a>
                </li>
                <li class="mb-2">
                    <a href="{% link _lessons/authorization-with-pundit.md %}" class="text-danger">How to create an authorization system</a>
                </li>
                <li class="mb-2">
                    <a href="{% link _lessons/searching-for-activities-with-ransack.md %}" class="text-danger">How to build a custom search form</a>
                </li>
                <li class="mb-2">
                    <a href="{% link _lessons/calculate-pace-on-save.md %}" class="text-danger">How to use callbacks to run calculations</a>
                </li>
                <li class="mb-2">
                    <a href="{% link _lessons/refactor-how-weekly-mileage-is-calculated.md %}" class="text-danger">How (and when) to refactor code</a>
                </li>                
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="text-center h4 mb-3" id="course_preview">Course Preview</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{page.video}}" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <hr/>
    {% include mailchimp.html %}
    <hr/>
</div>