<div class="container bg-white rounded-sm shadow-sm py-3 mt-n5 text-center">
    <h3 class="mb-3 h2" id="what_makes_this_course_different">What Makes <i>This</i> Course Different?</h3>
    <ul class="list-unstyled text-center">
        <li class="mb-1">I make <u>A LOT</u> of mistakes, and troubleshoot them in real time.</li>
        <li class="mb-1">I don't always know how to do something. I show you how I search documentation and APIs to find a solution.</li>
        <li class="mb-1">I build a REAL production application from start to finish, and leave nothing out. <strong>You see the whole process, as if we are pairing.</strong></li>
    </ul>
    <h3 class="mb-3 h2" id="who_is_this_course_for">Who Is The Course For?</h3>
    <ul class="list-unstyled text-center">
        <li class="mb-1">Junior Developers who have enough experience with Rails to be dangerous, but have never built a production application.</li>
        <li class="mb-1">Anyone interested in seeing how a web application is built from start to finish.</li>
        <li class="mb-1">Anyone curious to know how fast, fun and effective Rails development is.</li>
    </ul>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center h4 mb-3" id="what_will_i_learn">What Will I Learn?</h2>
            <ul class="list-unstyled text-center">
                <li class="mb-2">
                    How to use and configure Continuous Integration and Continuous Deployment (CI/CD)
                </li>
                <li class="mb-2">
                    How to write system tests
                </li>
                <li class="mb-2">
                    How to optimize and offload expensive queries
                </li>
                <li class="mb-2">
                    How to use GitHub to manage branches and create a clean commit history 
                </li>
                <li class="mb-2">
                    How to build a custom search form
                </li>
                <li class="mb-2">
                    How to use callbacks
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="text-center h4 mb-3" id="course_preview">Course Preview</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{page.video}}" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>