<nav class="d-flex justify-content-between mb-3">
    {% if page.previous != null %}
    <a href="{{ page.previous.id }}" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">Previous Lesson</a>
    {% endif %}
    {% if page.previous == null %}
    <span class="btn btn-sm btn-outline-danger disabled">Previous Lesson</span>
    {% endif %}    
    {% if page.next != null %}
    <a href="{{ page.next.id }}" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next Lesson</a>
    {% endif %}
    {% if page.next == null %}
    <span class="btn btn-sm btn-outline-danger disabled">Next Lesson</span>
    {% endif %}    
</nav>