<h2>Sign Up To Receive Course Updates</h2>
<div id="mc_embed_signup">
    <form action="https://hey.us17.list-manage.com/subscribe/post?u=e75c4961e7d6b15c172a1d003&amp;id=a7012af41f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline justify-content-center" target="_blank">
        <label for="mce-EMAIL" class="mr-2">Email Address  <span class="asterisk text-danger">*</span></label>
        <input type="email" value="" name="EMAIL" class="required email form-control form-control-lg mr-2" id="mce-EMAIL" required>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e75c4961e7d6b15c172a1d003_a7012af41f" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-lg btn-danger">
    </form>
</div>
<!--End mc_embed_signup-->